{% load static %}
<!doctype html>
<!--[if lt IE 7]> <html class="ie6 oldie"> <![endif]-->
<!--[if IE 7]>    <html class="ie7 oldie"> <![endif]-->
<!--[if IE 8]>    <html class="ie8 oldie"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="" style="width: 100%; height: 100%;">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>모각코</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="shortcut icon" href="">

<!-- 
To learn more about the conditional comments around the html tags at the top of the file:
paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/

Do the following if you're using your customized build of modernizr (http://www.modernizr.com/):
* insert the link to your js here
* remove the link below to the html5shiv
* add the "no-js" class to the html tags at the top
* you can also remove the link to respond.min.js if you included the MQ Polyfill in your modernizr build 
-->
<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!--
<script src="respond.min.js"></script>
-->
<!-- TODO: clean this -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<script src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js"></script>
<script src="{% static 'js/firebase-init.js' %}"></script>
</head>
<body style="width: 100%; height: 100%; display: flex; flex-direction: column;">
    <nav id="navbar" class="navbar navbar-expand d-flex" style="width: 100%; height: 128px; padding: 0; border-bottom: 1px solid #D4D4D4; position: absolute; z-index: 1;">
        <div class="container-fluid" style="width: 100%;">
            <div style="">
                <div style="width: 20vw; border-top: 128px solid #FF8B00; border-right: 5vw solid transparent; position: absolute; z-index: 0; top: 0;"></div>
                <img src="{% static 'imgs/nfest-logo.png' %}" style="position: absolute; bottom: -5px;;" width="184" height="54" />
            </div>
            <h3 class="mx-3" style="font-size: 24px; font-weight: 700; color: rgb(32, 32, 32);">[[ user ]]</h3>
        </div>
    </nav>
    <div style="width: 100%; height: 100vh; flex: 1 0 auto; position: absolute; z-index: 0;">
        <img style="position: absolute; z-index: -1; width: 100%; height: 100vh;" src="{% static 'imgs/nfest-background.png' %}" />
        {% block content %}
        {% endblock %}
    </div>
    <script>
        var app = new Vue({
            delimiters: ["[[", "]]"],
            el: "#navbar",
            data : {
                user: '',
            },
            created: function() {
                var self = this;
                firebase.auth().onAuthStateChanged(user=> {
                    if(user)
                        self.user = firebase.auth().currentUser.displayName;
                });
            },
        });
    </script>
</body>
</html>
