h1 {
	color: #FF8B00;
	font-size: 20px;
}

.info {
	color: #666;
	font-size: 18px;
	font-weight: 700;
    margin-top: 24px;
}

.info .label {
	color: #222;
    margin-right: 8px;
}

.temp-title {
	color: #FF8B00;
	font-size: 28px;
    font-weight: 700;
    margin-bottom: 32px;
}

.card.search {
    margin-bottom: 32px;
	width: 840px;
	text-align: left;
}

.search-input {
    overflow: hidden;
	border: none;
    color: #000;
	font-size: 28px;
	font-weight: 700;
	margin: 48px 0 48px 56px;
	display: inline;
}

.search-submit {
	background-color: rgba(0, 0, 0, 0);
	border: none;
	float: right;
	color: #FF8B00;
	font-size: 28px;
	font-weight: 700;
	margin: 48px 56px 48px 0;
	display: inline;
}

search-submit:hover {
	cursor: pointer;
}

button.add-info {
	color: #FF8B00;
	text-align: right;
	margin-top: 32px;
	font-size: 28px;
	font-weight: 700;
	display: inline;
}
