h1 {
	color: #FF8B00;
	font-size: 20px;
}

.info {
	color: #666;
	font-size: 18px;
	font-weight: 700;
    margin-top: 24px;
}

.info .label {
	color: #222;
    margin-right: 8px;
}

.temp-title {
	color: #FF8B00;
	font-size: 28px;
    font-weight: 700;
    margin-bottom: 32px;
}
