{% extends "global.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'cafe/css/list.css' %}"/>
{% endblock %}

{% block content %}
    {% for cafe in cafes %}
        <div class="card page-width">
            <div class="card-content">
                <h2 class="temp-title">{{ cafe.name }}</h2>
                <p class="info"><span class="label">Address</span>{{ cafe.address }}</p>
                <p class="info"><span class="label">Americano</span>{{ cafe.americano }}KRW</p>
                <p class="info"><span class="label">Electric Plugs</span>{{ cafe.plug_string }}</p>
                <p class="info"><span class="label">Wifi</span>{{ cafe.wifi_string }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}

<head>
    <link rel="stylesheet" type="text/css" href="ho.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="ho.js"></script>
</head>
<body>
<div class="card big">Do This!</div>
<div class="card big">Do That!</div>
</body>

